In [1]:
import pandas as pd
import numpy as np
from datetime import date
from datetime import datetime

In [2]:
Data = pd.read_csv("C://Users//shawnhe//Downloads//payments_2021-12-01_2021-12-12.csv")
data_2 = pd.read_csv("C://Users//shawnhe//Downloads//payment_transactions_export_1.csv")
PP=pd.read_csv("C://Users//shawnhe//Downloads//Download.csv")
kl=pd.read_csv("C://Users//shawnhe//Downloads//klarna-transactions-reports_2021-12-01T00-00-00Z_2021-12-13T23-59-59Z.csv")

In [3]:
data_2.shape

(91, 16)

# Shopify

In [4]:
data = Data[Data["transaction_kind"]!="void"]

In [5]:
data_top=data[data["payment_method"]=="Shopify Payments"]
if (data["payment_method"].str.contains("Shop Pay Installments").any()):
    data_btm=data[data["payment_method"]=="Shop Pay Installments"]
    data=pd.concat([data_top,data_btm])
else:
    data=data_top

In [6]:
data.shape

(76, 15)

In [7]:
data_1=pd.DataFrame(columns=["Date","Customer Email","Customer Name","Order #","CC Type","Total Charge","Bank Fee","Bank off%"],index=None)

In [8]:
data_1["Date"]=data["day"]
data_1["Customer Email"]=data["customer_email"]
data_1["Customer Name"]=data["customer_name"]
data_1["Order #"]=data["order_name"]
data_1["CC Type"]=data["credit_card_type"].astype(str).str[0]
data_1["Total Charge"]=data["total_payments"]
data_1["Lookup"]=data["order_name"].astype(str)+"|"+data["total_payments"].astype(str)

In [9]:
data_1.sort_values("Date",ascending=True).head()

,Date,Customer Email,Customer Name,Order #,CC Type,Total Charge,Bank Fee,Bank off%,Lookup
83,2021-12-01,peg732@comcast.net,Peg Sherman,P4240,V,34.35,NaN,NaN,P4240|34.35
81,2021-12-01,kimfrank3@me.com,Kim Frank,P4295,A,242.20,NaN,NaN,P4295|242.2
80,2021-12-01,sharon.sowders@gmail.com,Sharon Sowders,P4296,A,67.25,NaN,NaN,P4296|67.25
79,2021-12-01,veejacobs@bellsouth.net,Verla Jacobs,P4298,V,31.94,NaN,NaN,P4298|31.94
76,2021-12-02,mimacavazos@icloud.com,Sigifredo Cavazos,P4301,V,80.05,NaN,NaN,P4301|80.05

In [10]:
data_1.shape

(76, 9)

In [11]:
data_2.shape

(91, 16)

In [12]:
data_3=pd.DataFrame(columns=["Net Charge","Authorization Code"])

In [13]:
data_3.shape

(0, 2)

In [14]:
data_3["Net Charge"]=data_2["Net"]
data_3["Authorization Code"]=data_2["Payout Date"]
data_3["Lookup"]=data_2["Order"].astype(str)+"|"+data_2["Amount"].astype(str)

In [15]:
result=pd.merge(data_1,data_3,how="left",on="Lookup")

In [16]:
result.shape

(76, 11)

In [17]:
result["Bank Fee"]=result["Total Charge"]-result["Net Charge"]
result["Bank off%"]=result["Bank Fee"]/result["Total Charge"]
result["Bank off%"]=pd.Series(["{0:.5f}%".format(val*100) for val in result["Bank off%"]],index = result.index)
result.sort_values("Authorization Code",ascending=True,inplace=True)

In [18]:
result.drop(["Lookup"],inplace=True,axis=1)

In [19]:
result.tail()

,Date,Customer Email,Customer Name,Order #,CC Type,Total Charge,Bank Fee,Bank off%,Net Charge,Authorization Code
6,2021-12-10,aripley@vwbrown.com,Angela Ripley,P4367,V,198.10,4.56,2.30187%,193.54,2021-12-14
3,2021-12-10,dkimbriel0908@gmail.com,Debbie Rittiluechai,P4372,V,553.15,12.19,2.20374%,540.96,2021-12-14
2,2021-12-10,gwvessels@att.net,Gloria Vessels,P4373,V,148.00,3.48,2.35135%,144.52,2021-12-14
1,2021-12-10,prrshar@yahoo.com,sharon parrish,P4375,A,152.60,5.11,3.34862%,147.49,2021-12-14
0,2021-12-10,jsc0802@gmail.com,Josephine Compito,P4376,M,145.60,3.43,2.35577%,142.17,2021-12-14

# PayPal

In [20]:
Data = Data[Data["transaction_kind"]!="void"]
Data_PP=Data[Data["payment_method"]=="PayPal Payments Standard"]
Data_PP=Data_PP[["day","customer_name","order_name","customer_email","total_payments"]]
Data_PP.sort_values("day",ascending = "True", inplace = False)

,day,customer_name,order_name,customer_email,total_payments
85,2021-12-01,Mary Ludden,P4160,mludden01@gmail.com,106.80
77,2021-12-02,Nestor Pagan,P4300,nestor_pagan@hotmail.com,83.95
100,2021-12-03,kathleen Le Mons,P3920,kathleenlemons@gmail.com,-52.00
96,2021-12-03,Susan Ponder-Stansel,P3972,sstansel@communityhospice.com,-76.59
101,2021-12-03,Gloria Grady,P3908,ggvixen@outlook.com,-201.00
32,2021-12-07,Melissa Hales,P4347,littlered2263@yahoo.com,87.55
50,2021-12-07,CARMEN PRADO,P4329,carmenar@bellsouth.net,148.00
41,2021-12-07,Alisha Tabag,P4338,aptabag@hotmail.com,168.00
37,2021-12-07,Linda Conger,P4342,lrconger@gmail.com,99.00
25,2021-12-07,Susan Glanz,P4354,susanwg543@gmail.com,138.00
31,2021-12-07,Judy Billingslea,P4348,bajan4ever@live.com,60.25
23,2021-12-08,Brunilda Baeza,P4356,bruni@baeza.com,83.95
92,2021-12-08,Carla Vincent,P4001,vincj@aol.com,-48.30
21,2021-12-08,Gwendolyn Sams-Lynch,P4358,glynch287@att.net,111.65
84,2021-12-08,mary mccants,P4175,mmccants22@msn.com,-44.31
18,2021-12-09,Melanie Hallman,P4361,melaniehallman@hotmail.com,52.44
14,2021-12-09,Vail Hanna,P4365,hannav@bellsouth.net,99.00
12,2021-12-09,ROBERT ROBBINS,P4368,desertdoll@q.com,122.95
2,2021-12-10,Whitney Novello,P4378,wnovello@me.com,75.93
11,2021-12-10,Reba Tyree,P4369,rebatyree@msn.com,148.00
6,2021-12-10,Katrina Barcellona,P4374,kbarcellona@yahoo.com,141.99
3,2021-12-10,C Eugene Compton,P4377,gene@comptonlaw.net,97.43
82,2021-12-10,Aneta Sifkarovska,P4268,anetacs69@yahoo.com,-38.00
102,2021-12-10,Maria Silva,P3857,mfsilva1962@comcast.net,-62.30

In [21]:
Data_PP["total_payments"]=Data_PP["total_payments"].astype(str)

In [22]:
Data_PP["Lookup"]=Data_PP["customer_email"]+"|"+Data_PP["total_payments"]

Data_PP=Data_PP[["day","customer_name","Lookup","order_name","total_payments"]]

Data_PP["Lookup"]=Data_PP["Lookup"].apply(lambda x:x.replace(',',''))

In [23]:
PP=PP[PP["Type"]!="General Authorization"]
PP=PP[PP["Type"]!="General Withdrawal"]
PP=PP[PP["Type"]!="Void of Authorization"]

In [24]:
PP["Lookup"]=np.where((PP["Type"]=="Payment Refund")|(PP["Type"]=="Hold on Balance for Dispute Investigation"),PP["To Email Address"]+"|"+PP["Gross"].astype(str),PP["From Email Address"]+"|"+PP["Gross"].astype(str))

In [25]:
PP["Lookup"]=PP["Lookup"].mask(PP["Lookup"].str[-1]=="0",PP["Lookup"].str[:-1])

PP["Lookup"]=PP["Lookup"].mask(PP["Lookup"].str[-1]==".",PP["Lookup"].str[:-1])

In [26]:
PP["Lookup"]=PP["Lookup"].apply(lambda x:x.replace(',',''))
PP["Lookup"]

0                mludden01@gmail.com|106.8
3                  njpagan@gmail.com|83.95
5                 ggvixen@outlook.com|-201
6     sstansel@communityhospice.com|-76.59
7             kathleenlemons@gmail.com|-52
14              carmenar@bellsouth.net|148
16               alli_g8tr@hotmail.com|168
18                   lrconger@gmail.com|99
20           littlered2263@yahoo.com|87.55
22               bajan4ever@live.com|60.25
24                susanwg543@gmail.com|138
28                     Vincj@aol.com|-48.3
29               mmccants22@msn.com|-44.31
31                   Bruni@Baeza.com|83.95
33                GLYNCH287@ATT.NET|111.65
38                 hannav@bellsouth.net|99
40        melaniehallman@hotmail.com|52.44
42                 desertdoll@q.com|122.95
47           mfsilva1962@comcast.net|-62.3
49                 anetacs69@yahoo.com|-38
51                   rebatyree@msn.com|148
53            kbarcellona@yahoo.com|141.99
55               gene@comptonlaw.net|97.43
57                   wnovello@me.com|75.93
67                connie4004@att.net|-22.4
Name: Lookup, dtype: object

In [27]:
date_format = "%m/%d/%Y"
PP["Date"]=PP["Date"].apply(lambda x : datetime.strptime(x, date_format))

In [28]:
PP["Lookup_1"]=(PP["Date"].apply(lambda x: (x-datetime.strptime("01/01/1900", date_format)).days+2)).astype(str)+"|"+PP["Gross"].astype(str)

In [29]:
PP=PP[["Date","Lookup_1","Lookup","Net"]]
PP["Lookup_1"]=PP["Lookup_1"].mask(PP["Lookup_1"].str[-1]=="0",PP["Lookup_1"].str[:-1])
PP["Lookup_1"]=PP["Lookup_1"].mask(PP["Lookup_1"].str[-1]=="0",PP["Lookup_1"].str[:-1])
PP["Lookup_1"]=PP["Lookup_1"].mask(PP["Lookup_1"].str[-1]==".",PP["Lookup_1"].str[:-1])

In [30]:
PP["Lookup_1"]=PP["Lookup_1"].apply(lambda x:x.replace(',',''))
PP["Lookup_1"]

0      44531|106.8
3      44532|83.95
5       44533|-201
6     44533|-76.59
7        44533|-52
14       44537|148
16       44537|168
18        44537|99
20     44537|87.55
22     44537|60.25
24       44537|138
28     44538|-48.3
29    44538|-44.31
31     44538|83.95
33    44538|111.65
38        44539|99
40     44539|52.44
42    44539|122.95
47     44540|-62.3
49       44540|-38
51       44540|148
53    44540|141.99
55     44540|97.43
57     44540|75.93
67     44543|-22.4
Name: Lookup_1, dtype: object

# Klarna

In [31]:
kl=kl.apply(lambda x : x.str.replace('"',''))

In [32]:
kl["type;detailed_type;sale_date;capture_date;order_id;short_order_id;capture_id;merchant_reference1;merchant_reference2;merchant_capture_reference;merchant_refund_reference;amount;posting_currency;refund_id;purchase_country;shipping_address_country;tax_rate;tax_amount;initial_payment_method_type;initial_payment_method_number_of_installments;initial_payment_method_monthly_downpayments;merchant_id;settlement_currency;payment_reference;payout_date;klarna_comment;consumer_tax_rate_1;consumer_tax_amount_1;consumer_tax_rate_2;consumer_tax_amount_2;consumer_tax_rate_3;consumer_tax_amount_3;consumer_tax_rate_4;consumer_tax_amount_4"]

0    FEE;PURCHASE_FEE_PERCENTAGE;2021-12-05T23:36:5...
1    SALE;PURCHASE;2021-12-05T23:36:56.253Z;2021-12...
2    FEE;PURCHASE_FEE_FIXED;2021-12-05T23:36:56.253...
3    RETURN;PURCHASE_RETURN;2021-10-31T19:08:03.900...
4    FEE;PURCHASE_FEE_PERCENTAGE;2021-12-03T13:47:2...
5    FEE;PURCHASE_FEE_FIXED;2021-12-03T13:47:25.020...
6    SALE;PURCHASE;2021-12-03T13:47:25.020Z;2021-12...
Name: type;detailed_type;sale_date;capture_date;order_id;short_order_id;capture_id;merchant_reference1;merchant_reference2;merchant_capture_reference;merchant_refund_reference;amount;posting_currency;refund_id;purchase_country;shipping_address_country;tax_rate;tax_amount;initial_payment_method_type;initial_payment_method_number_of_installments;initial_payment_method_monthly_downpayments;merchant_id;settlement_currency;payment_reference;payout_date;klarna_comment;consumer_tax_rate_1;consumer_tax_amount_1;consumer_tax_rate_2;consumer_tax_amount_2;consumer_tax_rate_3;consumer_tax_amount_3;consumer_tax_rate_4;consumer_tax_amount_4, dtype: object

In [33]:
kl[['type', 'detailed_type', 'sale_date', 'capture_date', 'order_id', 'short_order_id', 'capture_id', 'merchant_reference1', 'merchant_reference2', 'merchant_capture_reference', 'merchant_refund_reference', 'amount', 'posting_currency', 'refund_id', 'purchase_country', 'shipping_address_country', 'tax_rate', 'tax_amount', 'initial_payment_method_type', 'initial_payment_method_number_of_installments', 'initial_payment_method_monthly_downpayments', 'merchant_id', 'settlement_currency', 'payment_reference', 'payout_date', 'klarna_comment', 'consumer_tax_rate_1', 'consumer_tax_amount_1', 'consumer_tax_rate_2', 'consumer_tax_amount_2', 'consumer_tax_rate_3', 'consumer_tax_amount_3', 'consumer_tax_rate_4', 'consumer_tax_amount_4']]=kl[['type', 'detailed_type', 'sale_date', 'capture_date', 'order_id', 'short_order_id', 'capture_id', 'merchant_reference1', 'merchant_reference2', 'merchant_capture_reference', 'merchant_refund_reference', 'amount', 'posting_currency', 'refund_id', 'purchase_country', 'shipping_address_country', 'tax_rate', 'tax_amount', 'initial_payment_method_type', 'initial_payment_method_number_of_installments', 'initial_payment_method_monthly_downpayments', 'merchant_id', 'settlement_currency', 'payment_reference', 'payout_date', 'klarna_comment', 'consumer_tax_rate_1', 'consumer_tax_amount_1', 'consumer_tax_rate_2', 'consumer_tax_amount_2', 'consumer_tax_rate_3', 'consumer_tax_amount_3', 'consumer_tax_rate_4', 'consumer_tax_amount_4']]=kl["type;detailed_type;sale_date;capture_date;order_id;short_order_id;capture_id;merchant_reference1;merchant_reference2;merchant_capture_reference;merchant_refund_reference;amount;posting_currency;refund_id;purchase_country;shipping_address_country;tax_rate;tax_amount;initial_payment_method_type;initial_payment_method_number_of_installments;initial_payment_method_monthly_downpayments;merchant_id;settlement_currency;payment_reference;payout_date;klarna_comment;consumer_tax_rate_1;consumer_tax_amount_1;consumer_tax_rate_2;consumer_tax_amount_2;consumer_tax_rate_3;consumer_tax_amount_3;consumer_tax_rate_4;consumer_tax_amount_4"].str.split(';',expand=True)

In [34]:
kl=kl.iloc[:,1:]

In [35]:
kl[["Date","Useless"]]=kl["capture_date"].str.split("T",n=1,expand=True)
kl[["payout","Useless_1"]]=kl["payout_date"].str.split("T",n=1,expand=True)

In [36]:
kl=kl[["Date","type","merchant_reference1","amount","payout"]]

In [37]:
kl_sales=kl[kl["type"]!="RETURN"]
KL_return=kl[kl["type"]=="RETURN"]

In [38]:
kl_sales['amount'].dtype

dtype('O')

In [39]:
kl_sales["amount_net"]=np.where(kl_sales["type"]=="FEE",kl_sales["amount"].astype('float64')*(-1),kl_sales["amount"])

<ipython-input-39-594efbc34fae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kl_sales["amount_net"]=np.where(kl_sales["type"]=="FEE",kl_sales["amount"].astype('float64')*(-1),kl_sales["amount"])

In [40]:
kl_sales_sum=kl_sales[["merchant_reference1","amount_net"]]

In [41]:
kl_sales_sum["amount_net"]=kl_sales_sum["amount_net"].astype('float64')

<ipython-input-41-fd40d555770e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kl_sales_sum["amount_net"]=kl_sales_sum["amount_net"].astype('float64')

In [42]:
kl_sales_sum=kl_sales_sum.groupby("merchant_reference1").sum()

In [43]:
KL_return["amount_net"]=KL_return["amount"].astype("float64")

<ipython-input-43-0f9946c5f782>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KL_return["amount_net"]=KL_return["amount"].astype("float64")

In [44]:
KL_return["amount"]=KL_return["amount"].astype("float64")*(-1)
KL_return["amount_net"]=KL_return["amount_net"].astype("float64")*(-1)
KL_return=KL_return.drop("type",axis=1)

<ipython-input-44-3f30407d284e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KL_return["amount"]=KL_return["amount"].astype("float64")*(-1)
<ipython-input-44-3f30407d284e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  KL_return["amount_net"]=KL_return["amount_net"].astype("float64")*(-1)

In [45]:
KL_return=KL_return[["Date","merchant_reference1","amount","amount_net","payout"]]
KL_return

         Date merchant_reference1  amount  amount_net      payout
3  2021-12-03               P3741  -34.49      -34.49  2021-12-04

In [46]:
kl_sales_join=kl[kl["type"]=="SALE"]

In [47]:
kl_result=pd.merge(kl_sales_join,kl_sales_sum, how="left",on="merchant_reference1")

In [48]:
kl_result=kl_result[["Date","merchant_reference1","amount","amount_net","payout"]]

In [49]:
result_kl=pd.concat([kl_result,KL_return])

In [50]:
result_kl=result_kl.sort_values(by = "Date")

In [51]:
result_kl

         Date merchant_reference1 amount  amount_net      payout
1  2021-12-03               P4310  48.20       46.94  2021-12-07
3  2021-12-03               P3741 -34.49      -34.49  2021-12-04
0  2021-12-07               P4345  74.25       72.47  2021-12-11

In [52]:
Data_PP.to_csv("C://Users//shawnhe//Desktop//Kasper//PP_Data_Left.csv",index=False)
PP.to_csv("C://Users//shawnhe//Desktop//Kasper//PP_Data_Right.csv",index=False)
result.to_csv("C://Users//shawnhe//Desktop//Kasper//Shopify.csv",index=False)
result_kl.to_csv("C://Users//shawnhe//Desktop//Kasper//kl_result.csv",index=False)