# Masai

In [1]:
import pandas as pd
from datetime import date
from datetime import datetime
import numpy as np

In [2]:
Data=pd.read_csv("C://Users//shawnhe//Downloads//payments_2021-12-01_2021-12-12.csv") # FROM SHOPIFY REPORT 1

In [3]:
Data = Data[Data["transaction_kind"]!="void"]

In [4]:
BT=pd.read_csv("C://Users//shawnhe//Downloads//transaction_search.csv") # FROM BT REPORT 2

In [5]:
BT_Disbursement=pd.read_csv("C://Users//shawnhe//Downloads//masaicopenhagen_instant_disbursements_2021_12_01_2021_12_31.csv") # FROM BT REPORT 3

In [6]:
PP=pd.read_csv("C://Users//shawnhe//Downloads//Download.csv") # FROM PP REPORT 2

In [7]:
kl=pd.read_csv("C://Users//shawnhe//Downloads//klarna-transactions-reports_2021-12-01T00-00-00Z_2021-12-12T23-59-59Z.csv") # FROM KL

# Brain Tree

In [8]:
Data.sort_values("day",inplace = True)
BT.sort_values("Disbursement Date", inplace = True)

In [9]:
Data_BT=Data[Data["payment_method"]=="Braintree"]
Data_BT=Data_BT[["day","customer_name","order_name","credit_card_type","customer_email","total_payments"]]

In [10]:
Data_BT.head()

,day,customer_name,order_name,credit_card_type,customer_email,total_payments
2,2021-12-01,Ellen Walker,D1974,Visa,ellen.walker@michelin.com,392.99
23,2021-12-01,YSLED ADELA CESPEDES,D1963,Mastercard,adelaioan@hotmail.com,103.73
13,2021-12-01,Jade Del Castillo,D1965,Visa,jade.delcastillo@gmail.com,163.20
0,2021-12-02,Ellen Walker,D1978,Visa,ellen.walker@michelin.com,898.00
18,2021-12-02,Kathryn Ford,D1981,Mastercard,kathrynadelaide44@gmail.com,142.40

In [11]:
Data_BT["Lookup"]=Data_BT["customer_email"].astype(str)+"|"+Data_BT["total_payments"].astype(str)
Data_BT["credit_card_type"]=Data_BT["credit_card_type"].astype(str).str[0]

In [12]:
Data_BT=Data_BT[["day","customer_name","Lookup","order_name","credit_card_type","total_payments"]]

In [13]:
Data_BT["Lookup"]=Data_BT["Lookup"].mask(Data_BT["Lookup"].str[-1]=="0",Data_BT["Lookup"].str[:-1])
Data_BT["Lookup"]=Data_BT["Lookup"].mask(Data_BT["Lookup"].str[-1]==".",Data_BT["Lookup"].str[:-1])
Data_BT["Lookup"]=Data_BT["Lookup"].apply(lambda x:x.replace(',',''))

In [14]:
Data_BT.head()

,day,customer_name,Lookup,order_name,credit_card_type,total_payments
2,2021-12-01,Ellen Walker,ellen.walker@michelin.com|392.99,D1974,V,392.99
23,2021-12-01,YSLED ADELA CESPEDES,adelaioan@hotmail.com|103.73,D1963,M,103.73
13,2021-12-01,Jade Del Castillo,jade.delcastillo@gmail.com|163.2,D1965,V,163.20
0,2021-12-02,Ellen Walker,ellen.walker@michelin.com|898,D1978,V,898.00
18,2021-12-02,Kathryn Ford,kathrynadelaide44@gmail.com|142.4,D1981,M,142.40

In [15]:
Data_BT.sort_values("day",ascending = "True", inplace = False)

,day,customer_name,Lookup,order_name,credit_card_type,total_payments
2,2021-12-01,Ellen Walker,ellen.walker@michelin.com|392.99,D1974,V,392.99
23,2021-12-01,YSLED ADELA CESPEDES,adelaioan@hotmail.com|103.73,D1963,M,103.73
13,2021-12-01,Jade Del Castillo,jade.delcastillo@gmail.com|163.2,D1965,V,163.20
0,2021-12-02,Ellen Walker,ellen.walker@michelin.com|898,D1978,V,898.00
18,2021-12-02,Kathryn Ford,kathrynadelaide44@gmail.com|142.4,D1981,M,142.40
16,2021-12-02,Gretchen Rice,mail.terry@mchsi.com|146.97,D1975,M,146.97
21,2021-12-02,Sue Cafferty,3cafferty@gmail.com|110.4,D1980,V,110.40
42,2021-12-03,Perl Jakubowicz,mpjacobowitz@yahoo.com|-212.8,D1921,V,-212.80
35,2021-12-03,Suzi Glandt,suzi.studio14@cox.net|-98,D1857,V,-98.00
34,2021-12-03,Martha Rapp,mbrapp@comcast.net|-94.4,D1904,V,-94.40
7,2021-12-07,Adam Pivec,adampivec@hotmail.com|228,D1994,V,228.00
15,2021-12-07,Christine Roman,croman@cviresources.com|148,D1985,V,148.00
20,2021-12-07,Velda Cousins,veldacousins@yahoo.com|110.97,D1983,V,110.97
5,2021-12-07,Gail Chapline,gchapline@yahoo.com|294.4,D1988,D,294.40
29,2021-12-07,dee ayala,dfayala3@gmail.com|45.48,D1993,V,45.48
1,2021-12-08,Christine Roman,croman@cviresources.com|712,D1996,V,712.00
41,2021-12-08,Amy Yarkoni,amyyarkoni@yahoo.com|-208,D1890,V,-208.00
11,2021-12-08,Gail Chapline,gchapline@yahoo.com|180.13,D1999,D,180.13
4,2021-12-08,Kristin Cabral,cabral@kristincabral.com|316,D1997,V,316.00
30,2021-12-08,Debra Hume,dhume59@gmail.com|40.99,D1998,V,40.99
17,2021-12-09,Penelope Vogel,pennivogel@yahoo.com|142.4,D2003,A,142.40
24,2021-12-09,Mary Richards,mrichards47@bellsouth.net|91.99,D2002,V,91.99
12,2021-12-09,Tracy Hoff,tracy.hoff@comcast.net|176,D2004,V,176.00
25,2021-12-10,Norma Carcamo,mom539@bellsouth.net|86.4,D2000,V,86.40
36,2021-12-10,Michele Gardner,mssgardner@aol.com|-142.2,D1938,V,-142.20
6,2021-12-10,Barbara Padden,paddenbl@aol.com|228,D2007,V,228.00

In [16]:
BT.head()
BT=BT[BT["Transaction Status"]!="voided"]
BT=BT[BT["Transaction Status"]!="processor_declined"]

In [17]:
BT["Lookup"]=BT["Customer Email"].astype(str)+"|"+BT["Amount Submitted For Settlement"].astype(str)

In [18]:
BT=BT[["Lookup","Amount Submitted For Settlement","Disbursement Date"]]

In [19]:
BT.head()

,Lookup,Amount Submitted For Settlement,Disbursement Date
18,steveyaa@hotmail.com|44.36,44.36,11/26/2021
26,amyyarkoni@yahoo.com|-310.97,-310.97,11/26/2021
35,klm041@bucknell.edu|167.26,167.26,11/30/2021
21,bpineken@hcleaders.com|59.49,59.49,11/30/2021
28,kath317@comcast.net|346.0,346.00,11/30/2021

In [20]:
BT["Lookup"]=BT["Lookup"].mask(BT["Lookup"].str[-1]=="0",BT["Lookup"].str[:-1])
BT["Lookup"]=BT["Lookup"].mask(BT["Lookup"].str[-1]==".",BT["Lookup"].str[:-1])
BT["Lookup"]=BT["Lookup"].apply(lambda x:x.replace(',',''))
BT.reset_index(inplace=True)

In [21]:
BT_Disbursement = BT_Disbursement[BT_Disbursement["Card Type"]=="Total"]

In [22]:
BT_Disbursement = BT_Disbursement[["Disbursement Date","Total Amount"]]
BT_Disbursement.reset_index(inplace=True)

In [23]:
BT = pd.concat([BT,BT_Disbursement],axis = 1)
BT=BT.drop("index",axis=1)

In [24]:
#Data_BT.to_csv("C://Users//shawnhe//Desktop//BT_Left_2.csv",index=False)
#BT.to_csv("C://Users//shawnhe//Desktop//BT_Right_2.csv",index=False)

# PayPal

In [25]:
Data_PP=Data[Data["payment_method"]=="PayPal Payments Standard"]

Data_PP=Data_PP[["day","customer_name","order_name","customer_email","total_payments"]]

In [26]:
Data_PP.sort_values("day",ascending = "True", inplace = False)

,day,customer_name,order_name,customer_email,total_payments
33,2021-12-02,christina richard,D1979,christinarichard@frontiernet.net,19.20
31,2021-12-02,Elda Nefat,D1976,enefat@yahoo.com,38.00
27,2021-12-02,Barbara Wolfe,D1977,b.wolfe1428@gmail.com,78.99
22,2021-12-02,George Kinemond,D1944,gkinemond@gmail.com,109.88
40,2021-12-03,Alison Guest,D1858,alisonjaneguest@mac.com,-208.00
37,2021-12-03,Katherine Miller,D1918,kate7426@cox.net,-158.00
19,2021-12-07,Lauren Melnikow,D1986,lauren@laurenann.net,118.98
14,2021-12-07,Nancy Belser,D1987,belser345@aol.com,158.00
8,2021-12-07,Kathleen Mikkelsen,D1989,katemikkelsen@gmail.com,193.98
10,2021-12-07,Catherine Cahn,D1990,ccahn@twig-world.com,187.20
28,2021-12-07,Janet Franklin,D1991,jntfrnkln@gmail.com,63.20
32,2021-12-07,Mary Lou Murray,D1992,wikibird@sbcglobal.net,25.97
26,2021-12-07,MADELYN KINEMOND,D1995,mkinemond@gmail.com,80.97
38,2021-12-09,ANN BROWN,D1920,ambrown@aol.com,-171.04
3,2021-12-09,Dipti Mathur,D2006,dmathur@me.com,380.80
9,2021-12-09,Tove Smith,D2001,tove1@verizon.net,190.39
39,2021-12-10,Linda Clark,D1941,lsclark124@gmail.com,-179.70

In [27]:
Data_PP["total_payments"]=Data_PP["total_payments"].astype(str)
Data_PP["total_payments"]

33       19.2
31       38.0
27      78.99
22     109.88
40     -208.0
37     -158.0
32      25.97
28       63.2
10      187.2
26      80.97
8      193.98
14      158.0
19     118.98
3       380.8
9      190.39
38    -171.04
39     -179.7
Name: total_payments, dtype: object

In [28]:
Data_PP["Lookup"]=Data_PP["customer_email"]+"|"+Data_PP["total_payments"]

Data_PP=Data_PP[["day","customer_name","Lookup","order_name","total_payments"]]

Data_PP["Lookup"]=Data_PP["Lookup"].apply(lambda x:x.replace(',',''))
Data_PP

,day,customer_name,Lookup,order_name,total_payments
33,2021-12-02,christina richard,christinarichard@frontiernet.net|19.2,D1979,19.2
31,2021-12-02,Elda Nefat,enefat@yahoo.com|38.0,D1976,38.0
27,2021-12-02,Barbara Wolfe,b.wolfe1428@gmail.com|78.99,D1977,78.99
22,2021-12-02,George Kinemond,gkinemond@gmail.com|109.88,D1944,109.88
40,2021-12-03,Alison Guest,alisonjaneguest@mac.com|-208.0,D1858,-208.0
37,2021-12-03,Katherine Miller,kate7426@cox.net|-158.0,D1918,-158.0
32,2021-12-07,Mary Lou Murray,wikibird@sbcglobal.net|25.97,D1992,25.97
28,2021-12-07,Janet Franklin,jntfrnkln@gmail.com|63.2,D1991,63.2
10,2021-12-07,Catherine Cahn,ccahn@twig-world.com|187.2,D1990,187.2
26,2021-12-07,MADELYN KINEMOND,mkinemond@gmail.com|80.97,D1995,80.97
8,2021-12-07,Kathleen Mikkelsen,katemikkelsen@gmail.com|193.98,D1989,193.98
14,2021-12-07,Nancy Belser,belser345@aol.com|158.0,D1987,158.0
19,2021-12-07,Lauren Melnikow,lauren@laurenann.net|118.98,D1986,118.98
3,2021-12-09,Dipti Mathur,dmathur@me.com|380.8,D2006,380.8
9,2021-12-09,Tove Smith,tove1@verizon.net|190.39,D2001,190.39
38,2021-12-09,ANN BROWN,ambrown@aol.com|-171.04,D1920,-171.04
39,2021-12-10,Linda Clark,lsclark124@gmail.com|-179.7,D1941,-179.7

In [29]:
PP=PP[PP["Type"]!="General Authorization"]
PP=PP[PP["Type"]!="General Withdrawal"]
PP=PP[PP["Type"]!="Void of Authorization"]

In [30]:
PP["Lookup"]=np.where((PP["Type"]=="Payment Refund")|(PP["Type"]=="Hold on Balance for Dispute Investigation"),PP["To Email Address"]+"|"+PP["Gross"].astype(str),PP["From Email Address"]+"|"+PP["Gross"].astype(str))

In [31]:
PP["Lookup"]=PP["Lookup"].mask(PP["Lookup"].str[-1]=="0",PP["Lookup"].str[:-1])
PP["Lookup"]=PP["Lookup"].mask(PP["Lookup"].str[-1]=="0",PP["Lookup"].str[:-1])
PP["Lookup"]=PP["Lookup"].mask(PP["Lookup"].str[-1]==".",PP["Lookup"].str[:-1])

In [32]:
PP["Lookup"]=PP["Lookup"].apply(lambda x:x.replace(',',''))
PP["Lookup"]

3                gkinemond@gmail.com|109.88
5                       enefat@yahoo.com|38
7               b.wolfe1428@gmail.com|78.99
9     christinarichard@frontiernet.net|19.2
11                    Kate7426@cox.net|-158
12             alisonjaneguest@mac.com|-208
20              lauren@laurenann.net|118.98
22                    belser345@aol.com|158
24           katemikkelsen@gmail.com|193.98
26               ccahn@twig-world.com|187.2
28                 jntfrnkln@gmail.com|63.2
30             wikibird@sbcglobal.net|25.97
32                gkinemond@gmail.com|80.97
36                     dmathur@me.com|380.8
38                  AMBrown@aol.com|-171.04
39                 tove1@verizon.net|190.39
41              lsclark124@gmail.com|-179.7
Name: Lookup, dtype: object

In [33]:
date_format = "%m/%d/%Y"
PP["Date"]=PP["Date"].apply(lambda x : datetime.strptime(x, date_format))

In [34]:
PP["Lookup_1"]=(PP["Date"].apply(lambda x: (x-datetime.strptime("01/01/1900", date_format)).days+2)).astype(str)+"|"+PP["Gross"].astype(str)

In [35]:
PP=PP[["Date","Lookup_1","Lookup","Net"]]
PP["Lookup_1"]=PP["Lookup_1"].mask(PP["Lookup_1"].str[-1]=="0",PP["Lookup_1"].str[:-1])
PP["Lookup_1"]=PP["Lookup_1"].mask(PP["Lookup_1"].str[-1]=="0",PP["Lookup_1"].str[:-1])
PP["Lookup_1"]=PP["Lookup_1"].mask(PP["Lookup_1"].str[-1]==".",PP["Lookup_1"].str[:-1])

In [36]:
PP["Lookup_1"]=PP["Lookup_1"].apply(lambda x:x.replace(',',''))
PP

         Date       Lookup_1                                 Lookup     Net
3  2021-12-02   44532|109.88             gkinemond@gmail.com|109.88  106.72
5  2021-12-02       44532|38                    enefat@yahoo.com|38   36.71
7  2021-12-02    44532|78.99            b.wolfe1428@gmail.com|78.99   76.64
9  2021-12-02     44532|19.2  christinarichard@frontiernet.net|19.2   18.40
11 2021-12-03     44533|-158                  Kate7426@cox.net|-158 -158.00
12 2021-12-03     44533|-208           alisonjaneguest@mac.com|-208 -208.00
20 2021-12-07   44537|118.98            lauren@laurenann.net|118.98  115.59
22 2021-12-07      44537|158                  belser345@aol.com|158  153.59
24 2021-12-07   44537|193.98         katemikkelsen@gmail.com|193.98  188.64
26 2021-12-07    44537|187.2             ccahn@twig-world.com|187.2  182.03
28 2021-12-07     44537|63.2               jntfrnkln@gmail.com|63.2   61.26
30 2021-12-07    44537|25.97           wikibird@sbcglobal.net|25.97   24.99
32 2021-12-07    44537|80.97              gkinemond@gmail.com|80.97   78.56
36 2021-12-09    44539|380.8                   dmathur@me.com|380.8  370.60
38 2021-12-09  44539|-171.04                AMBrown@aol.com|-171.04 -171.04
39 2021-12-09   44539|190.39               tove1@verizon.net|190.39  185.14
41 2021-12-10   44540|-179.7            lsclark124@gmail.com|-179.7 -179.70

In [37]:
#Data_PP.to_csv("C://Users//shawnhe//Desktop//PP_Data_Left.csv",index=False)

In [38]:
#PP.to_csv("C://Users//shawnhe//Desktop//PP_Data_Right.csv",index=False)

# Klarna

In [39]:
kl=kl.apply(lambda x : x.str.replace('"',''))

In [40]:
kl.head()

Empty DataFrame
Columns: [type;detailed_type;sale_date;capture_date;order_id;short_order_id;capture_id;merchant_reference1;merchant_reference2;merchant_capture_reference;merchant_refund_reference;amount;posting_currency;refund_id;purchase_country;shipping_address_country;tax_rate;tax_amount;initial_payment_method_type;initial_payment_method_number_of_installments;initial_payment_method_monthly_downpayments;merchant_id;settlement_currency;payment_reference;payout_date;klarna_comment;consumer_tax_rate_1;consumer_tax_amount_1;consumer_tax_rate_2;consumer_tax_amount_2;consumer_tax_rate_3;consumer_tax_amount_3;consumer_tax_rate_4;consumer_tax_amount_4]
Index: []

In [41]:
kl["type;detailed_type;sale_date;capture_date;order_id;short_order_id;capture_id;merchant_reference1;merchant_reference2;merchant_capture_reference;merchant_refund_reference;amount;posting_currency;refund_id;purchase_country;shipping_address_country;tax_rate;tax_amount;initial_payment_method_type;initial_payment_method_number_of_installments;initial_payment_method_monthly_downpayments;merchant_id;settlement_currency;payment_reference;payout_date;klarna_comment;consumer_tax_rate_1;consumer_tax_amount_1;consumer_tax_rate_2;consumer_tax_amount_2;consumer_tax_rate_3;consumer_tax_amount_3;consumer_tax_rate_4;consumer_tax_amount_4"]

Series([], Name: type;detailed_type;sale_date;capture_date;order_id;short_order_id;capture_id;merchant_reference1;merchant_reference2;merchant_capture_reference;merchant_refund_reference;amount;posting_currency;refund_id;purchase_country;shipping_address_country;tax_rate;tax_amount;initial_payment_method_type;initial_payment_method_number_of_installments;initial_payment_method_monthly_downpayments;merchant_id;settlement_currency;payment_reference;payout_date;klarna_comment;consumer_tax_rate_1;consumer_tax_amount_1;consumer_tax_rate_2;consumer_tax_amount_2;consumer_tax_rate_3;consumer_tax_amount_3;consumer_tax_rate_4;consumer_tax_amount_4, dtype: object)

In [42]:
kl[['type', 'detailed_type', 'sale_date', 'capture_date', 'order_id', 'short_order_id', 'capture_id', 'merchant_reference1', 'merchant_reference2', 'merchant_capture_reference', 'merchant_refund_reference', 'amount', 'posting_currency', 'refund_id', 'purchase_country', 'shipping_address_country', 'tax_rate', 'tax_amount', 'initial_payment_method_type', 'initial_payment_method_number_of_installments', 'initial_payment_method_monthly_downpayments', 'merchant_id', 'settlement_currency', 'payment_reference', 'payout_date', 'klarna_comment', 'consumer_tax_rate_1', 'consumer_tax_amount_1', 'consumer_tax_rate_2', 'consumer_tax_amount_2', 'consumer_tax_rate_3', 'consumer_tax_amount_3', 'consumer_tax_rate_4', 'consumer_tax_amount_4']]=kl[['type', 'detailed_type', 'sale_date', 'capture_date', 'order_id', 'short_order_id', 'capture_id', 'merchant_reference1', 'merchant_reference2', 'merchant_capture_reference', 'merchant_refund_reference', 'amount', 'posting_currency', 'refund_id', 'purchase_country', 'shipping_address_country', 'tax_rate', 'tax_amount', 'initial_payment_method_type', 'initial_payment_method_number_of_installments', 'initial_payment_method_monthly_downpayments', 'merchant_id', 'settlement_currency', 'payment_reference', 'payout_date', 'klarna_comment', 'consumer_tax_rate_1', 'consumer_tax_amount_1', 'consumer_tax_rate_2', 'consumer_tax_amount_2', 'consumer_tax_rate_3', 'consumer_tax_amount_3', 'consumer_tax_rate_4', 'consumer_tax_amount_4']]=kl["type;detailed_type;sale_date;capture_date;order_id;short_order_id;capture_id;merchant_reference1;merchant_reference2;merchant_capture_reference;merchant_refund_reference;amount;posting_currency;refund_id;purchase_country;shipping_address_country;tax_rate;tax_amount;initial_payment_method_type;initial_payment_method_number_of_installments;initial_payment_method_monthly_downpayments;merchant_id;settlement_currency;payment_reference;payout_date;klarna_comment;consumer_tax_rate_1;consumer_tax_amount_1;consumer_tax_rate_2;consumer_tax_amount_2;consumer_tax_rate_3;consumer_tax_amount_3;consumer_tax_rate_4;consumer_tax_amount_4"].str.split(';',expand=True)

ValueError: Columns must be same length as key

In [ ]:
kl=kl.iloc[:,1:]

In [ ]:
kl[["Date","Useless"]]=kl["capture_date"].str.split("T",n=1,expand=True)
kl[["payout","Useless_1"]]=kl["payout_date"].str.split("T",n=1,expand=True)

In [ ]:
kl=kl[["Date","type","merchant_reference1","amount","payout"]]

In [ ]:
kl.head()

In [ ]:
kl_sales=kl[kl["type"]!="RETURN"]
KL_return=kl[kl["type"]=="RETURN"]

In [ ]:
kl_sales["amount_net"]=np.where(kl_sales["type"]=="FEE",kl_sales["amount"].astype('float64')*(-1),kl_sales["amount"])

In [ ]:
kl_sales_sum=kl_sales[["merchant_reference1","amount_net"]]

In [ ]:
kl_sales_sum["amount_net"]=kl_sales_sum["amount_net"].astype('float64')

In [ ]:
kl_sales_sum=kl_sales_sum.groupby("merchant_reference1").sum()

In [ ]:
KL_return["amount_net"]=KL_return["amount"].astype("float64")

In [ ]:
KL_return["amount"]=KL_return["amount"].astype("float64")*(-1)
KL_return["amount_net"]=KL_return["amount_net"].astype("float64")*(-1)
KL_return=KL_return.drop("type",axis=1)

In [ ]:
KL_return=KL_return[["Date","merchant_reference1","amount","amount_net","payout"]]
KL_return

In [ ]:
kl_sales_join=kl[kl["type"]=="SALE"]

In [ ]:
kl_result=pd.merge(kl_sales_join,kl_sales_sum, how="left",on="merchant_reference1")

In [ ]:
kl_result=kl_result[["Date","merchant_reference1","amount","amount_net","payout"]]

In [ ]:
result=pd.concat([kl_result,KL_return])

In [43]:
Data_BT.to_csv("C://Users//shawnhe//Desktop//Masai//BT_Left_2.csv",index=False)
BT.to_csv("C://Users//shawnhe//Desktop//Masai//BT_Right_2.csv",index=False)

In [44]:
PP.to_csv("C://Users//shawnhe//Desktop//Masai//PP_Data_Right.csv",index=False)
Data_PP.to_csv("C://Users//shawnhe//Desktop//Masai//PP_Data_Left.csv",index=False)

In [45]:
result.to_csv("C://Users//shawnhe//Desktop//Masai//kl_result.csv",index=False)

NameError: name 'result' is not defined