# MSK/MW-BT/PP/AP/KL

In [1]:
import pandas as pd
import numpy as np
from datetime import date
from datetime import datetime

In [2]:
Data=pd.read_csv("C://Users//shawnhe//Downloads//payments_2021-12-01_2021-12-08.csv") # FROM SHOPIFY REPORT 1
BT=pd.read_csv("C://Users//shawnhe//Downloads//transaction_search.csv") # FROM BT SHOPIFY 2
BT_Disbursement=pd.read_csv("C://Users//shawnhe//Downloads//MingWang_instant_disbursements_2021_12_01_2021_12_31.csv") # FROM BT REPORT 3
PP=pd.read_csv("C://Users//shawnhe//Downloads//Download.csv") # FROM PP REPORT 2
#AP=pd.read_csv("C://Users//shawnhe//Downloads//2021Sep1-2021Sep28CustomTransaction.csv")
kl=pd.read_csv("C://Users//shawnhe//Downloads//klarna-transactions-reports_2021-12-01T00-00-00Z_2021-12-09T23-59-59Z.csv") # FROM KL

## BrainTree

In [3]:
Data.sort_values("day",inplace = True)
BT.sort_values("Disbursement Date", inplace = True)
Data.head()

,payment_method,digital_wallet,order_name,customer_name,transaction_kind,day,credit_card_type,customer_email,orders,gross_payments,refunded_payments,gift_card_payments,net_payments,total_payments,captured_payments
72,PayPal Payments Standard,NaN,C42654,Faye Glick,capture,2021-12-01,NaN,glick2@roadrunner.com,1,352.0,0.00,0.0,352.00,352.00,352.0
350,Braintree,NaN,C41481,Barbara Mulvihill,refund,2021-12-01,American Express,bmulvihill2@comcast.net,0,0.0,-221.25,0.0,-221.25,-221.25,0.0
349,Braintree,NaN,C39807,Elizabeth Quinlan,refund,2021-12-01,Mastercard,mbeeque@yahoo.com,0,0.0,-221.25,0.0,-221.25,-221.25,0.0
348,Braintree,NaN,C41362,Anita Kartalopoulos,refund,2021-12-01,American Express,kart7577@gmail.com,0,0.0,-220.00,0.0,-220.00,-220.00,0.0
81,Amazon payments,NaN,C42571,Tracey Henzie,capture,2021-12-01,NaN,indytraceyh1971@gmail.com,1,332.0,0.00,0.0,332.00,332.00,332.0

In [4]:
Data = Data[Data["transaction_kind"]!="void"]

In [5]:
Data_BT=Data[Data["payment_method"]=="Braintree"]
Data_BT=Data_BT[["day","customer_name","order_name","credit_card_type","customer_email","total_payments"]]

In [6]:
Data_BT.head()

,day,customer_name,order_name,credit_card_type,customer_email,total_payments
350,2021-12-01,Barbara Mulvihill,C41481,American Express,bmulvihill2@comcast.net,-221.25
349,2021-12-01,Elizabeth Quinlan,C39807,Mastercard,mbeeque@yahoo.com,-221.25
348,2021-12-01,Anita Kartalopoulos,C41362,American Express,kart7577@gmail.com,-220.00
223,2021-12-01,Susan Springfield,C42662,Visa,springfield64@gmail.com,150.00
227,2021-12-01,Ilana Pomeranz,C42646,Visa,ilanapiano@yahoo.com,147.22

In [7]:
Data_BT["Lookup"]=Data_BT["customer_email"].astype(str)+"|"+Data_BT["total_payments"].astype(str)
Data_BT["credit_card_type"]=Data_BT["credit_card_type"].astype(str).str[0]

In [8]:
Data_BT=Data_BT[["day","customer_name","Lookup","order_name","credit_card_type","total_payments"]]

In [9]:
Data_BT["Lookup"]=Data_BT["Lookup"].mask(Data_BT["Lookup"].str[-1]=="0",Data_BT["Lookup"].str[:-1])
Data_BT["Lookup"]=Data_BT["Lookup"].mask(Data_BT["Lookup"].str[-1]==".",Data_BT["Lookup"].str[:-1])
Data_BT["Lookup"]=Data_BT["Lookup"].apply(lambda x:x.replace(',',''))
Data_BT["Lookup"]

350    bmulvihill2@comcast.net|-221.25
349          mbeeque@yahoo.com|-221.25
348            kart7577@gmail.com|-220
223        springfield64@gmail.com|150
227        ilanapiano@yahoo.com|147.22
                    ...
327    mbvossmer@earthlink.net|-178.61
110        joniscreen@gmail.com|294.44
226           leblandj79@yahoo.com|148
45               emandrews@cox.net|440
147             vmooney1@aol.com|232.5
Name: Lookup, Length: 284, dtype: object

In [10]:
Data_BT.head()

,day,customer_name,Lookup,order_name,credit_card_type,total_payments
350,2021-12-01,Barbara Mulvihill,bmulvihill2@comcast.net|-221.25,C41481,A,-221.25
349,2021-12-01,Elizabeth Quinlan,mbeeque@yahoo.com|-221.25,C39807,M,-221.25
348,2021-12-01,Anita Kartalopoulos,kart7577@gmail.com|-220,C41362,A,-220.00
223,2021-12-01,Susan Springfield,springfield64@gmail.com|150,C42662,V,150.00
227,2021-12-01,Ilana Pomeranz,ilanapiano@yahoo.com|147.22,C42646,V,147.22

In [11]:
Data_BT.sort_values("day",ascending = "True", inplace = False)

,day,customer_name,Lookup,order_name,credit_card_type,total_payments
350,2021-12-01,Barbara Mulvihill,bmulvihill2@comcast.net|-221.25,C41481,A,-221.25
356,2021-12-01,Catherine Christ,gatoula@cox.net|-240,C41517,V,-240.00
79,2021-12-01,LeAnn Chen,lichenbing@hotmail.com|337.7,C42668,V,337.70
183,2021-12-01,Linda Chezem,lchezem@aol.com|185.98,C42531,V,185.98
386,2021-12-01,Judith Golenberg,nanajudyoc@gmail.com|-488,C41792,V,-488.00
...,...,...,...,...,...,...
281,2021-12-08,Jennifer Nevitt,pegdemarco@earthlink.net|48.8,C42883,V,48.80
196,2021-12-08,Cathy Vlahos,cathyvlahos9324@me.com|175,C42923,V,175.00
249,2021-12-08,Marilyn Gindroz,marilynandraygindroz@mac.com|102.99,C42915,A,102.99
96,2021-12-08,LAQUITA Propes,lapro33@aol.com|315,C42924,D,315.00
147,2021-12-08,Vickie Mooney,vmooney1@aol.com|232.5,C42899,M,232.50

In [12]:
BT=BT[BT["Transaction Status"]!="voided"]
BT=BT[BT["Transaction Status"]!="processor_declined"]

In [13]:
BT["Lookup"]=BT["Customer Email"].astype(str)+"|"+BT["Amount Submitted For Settlement"].astype(str)

In [14]:
BT=BT[["Lookup","Amount Submitted For Settlement","Disbursement Date"]]

In [15]:
BT.head()

,Lookup,Amount Submitted For Settlement,Disbursement Date
38,j.eidsv@gmail.com|-295.0,-295.0,12/02/2021
95,elaine.suleski@att.net|-476.3,-476.3,12/02/2021
50,nanajudyoc@gmail.com|-488.0,-488.0,12/02/2021
52,alancst1@san.rr.com|-945.0,-945.0,12/02/2021
18,JANET.GRAHAM317@GMAIL.COM|-256.0,-256.0,12/02/2021

In [16]:
BT["Lookup"]=BT["Lookup"].mask(BT["Lookup"].str[-1]=="0",BT["Lookup"].str[:-1])
BT["Lookup"]=BT["Lookup"].mask(BT["Lookup"].str[-1]=="0",BT["Lookup"].str[:-1]) #if double 0 at end, try this
BT["Lookup"]=BT["Lookup"].mask(BT["Lookup"].str[-1]==".",BT["Lookup"].str[:-1])
BT["Lookup"]=BT["Lookup"].apply(lambda x:x.replace(',',''))
BT.reset_index(inplace=True)

In [17]:
#Data_BT.to_csv("C://Users//shawnhe//Desktop//BT_Left.csv",index=False)
#BT.to_csv("C://Users//shawnhe//Desktop//BT_Right.csv",index=False)

In [18]:
BT_Disbursement = BT_Disbursement[BT_Disbursement["Card Type"]=="Total"]

In [19]:
BT_Disbursement = BT_Disbursement[["Disbursement Date","Total Amount"]]
BT_Disbursement.reset_index(inplace=True)

In [20]:
BT = pd.concat([BT,BT_Disbursement],axis = 1)
BT=BT.drop("index",axis=1)

In [21]:
BT["Lookup"]

0               j.eidsv@gmail.com|-295
1        elaine.suleski@att.net|-476.3
2            nanajudyoc@gmail.com|-488
3             alancst1@san.rr.com|-945
4       JANET.GRAHAM317@GMAIL.COM|-256
                    ...
198           nassrint55@gmail.com|236
199    marshamockabee723@gmail.com|200
200             joantrav@gmail.com|292
201       anneburleigh@outlook.com|275
202           sdew@deseretmgt.com|-515
Name: Lookup, Length: 203, dtype: object

## PayPal

In [22]:
Data_PP=Data[Data["payment_method"]=="PayPal Payments Standard"]

Data_PP=Data_PP[["day","customer_name","order_name","customer_email","total_payments"]]

Data_PP.sort_values("day",ascending = "True", inplace = False)

,day,customer_name,order_name,customer_email,total_payments
72,2021-12-01,Faye Glick,C42654,glick2@roadrunner.com,352.00
231,2021-12-01,Tiffany James,C42667,tiffanyj@undercoverwear.com,140.00
233,2021-12-01,Greg Smith,C42652,porkchop_4@yahoo.com,140.00
70,2021-12-01,Teresa Figueroa,C42660,docandteresa@aol.com,356.00
299,2021-12-01,Beth Hetzel,C41670,kodacarr@me.com,-96.99
...,...,...,...,...,...
25,2021-12-08,Kathryn Willians,C42902,kayw22@sbcglobal.net,546.66
26,2021-12-08,Linda Flynn,C42830,lillaflynn@gmail.com,535.00
47,2021-12-08,Deborah Bates,C42903,Djbmd76@gmail.com,440.00
392,2021-12-08,Natausha White,C40020,natausha.white@gmail.com,-560.00
225,2021-12-08,T. M. House,C42876,theresa1908@gmail.com,148.00

In [23]:
Data_PP["total_payments"]=Data_PP["total_payments"].astype(str)
Data_PP

,day,customer_name,order_name,customer_email,total_payments
72,2021-12-01,Faye Glick,C42654,glick2@roadrunner.com,352.0
231,2021-12-01,Tiffany James,C42667,tiffanyj@undercoverwear.com,140.0
233,2021-12-01,Greg Smith,C42652,porkchop_4@yahoo.com,140.0
70,2021-12-01,Teresa Figueroa,C42660,docandteresa@aol.com,356.0
299,2021-12-01,Beth Hetzel,C41670,kodacarr@me.com,-96.99
...,...,...,...,...,...
316,2021-12-08,Diane Hartt,C41631,ddhartt@gmail.com,-148.0
37,2021-12-08,Cynthia S. Bengier,C42940,bengierc@mindspring.com,455.0
343,2021-12-08,Carrie Conaway,C41398,carrie@virtualmax.com,-210.99
47,2021-12-08,Deborah Bates,C42903,Djbmd76@gmail.com,440.0
225,2021-12-08,T. M. House,C42876,theresa1908@gmail.com,148.0

In [24]:
Data_PP["Lookup"]=Data_PP["customer_email"]+"|"+Data_PP["total_payments"]
Data_PP=Data_PP[["day","customer_name","Lookup","order_name","total_payments"]]
#Data_PP["Lookup"]=Data_PP["Lookup"].mask(Data_PP["Lookup"].str[-1]=="0",Data_PP["Lookup"].str[:-1]) // MW 
#Data_PP["Lookup"]=Data_PP["Lookup"].mask(Data_PP["Lookup"].str[-1]==".",Data_PP["Lookup"].str[:-1])
#Data_PP.to_csv("C://Users//shawnhe//Desktop//PP_Data_Left.csv",index=False)

In [25]:
Data_PP

,day,customer_name,Lookup,order_name,total_payments
72,2021-12-01,Faye Glick,glick2@roadrunner.com|352.0,C42654,352.0
231,2021-12-01,Tiffany James,tiffanyj@undercoverwear.com|140.0,C42667,140.0
233,2021-12-01,Greg Smith,porkchop_4@yahoo.com|140.0,C42652,140.0
70,2021-12-01,Teresa Figueroa,docandteresa@aol.com|356.0,C42660,356.0
299,2021-12-01,Beth Hetzel,kodacarr@me.com|-96.99,C41670,-96.99
...,...,...,...,...,...
316,2021-12-08,Diane Hartt,ddhartt@gmail.com|-148.0,C41631,-148.0
37,2021-12-08,Cynthia S. Bengier,bengierc@mindspring.com|455.0,C42940,455.0
343,2021-12-08,Carrie Conaway,carrie@virtualmax.com|-210.99,C41398,-210.99
47,2021-12-08,Deborah Bates,Djbmd76@gmail.com|440.0,C42903,440.0
225,2021-12-08,T. M. House,theresa1908@gmail.com|148.0,C42876,148.0

In [26]:
PP=PP[PP["Type"]!="General Authorization"]
PP=PP[PP["Type"]!="General Withdrawal"]
PP=PP[PP["Type"]!="Void of Authorization"]

In [27]:
PP["Lookup"]=np.where((PP["Type"]=="Payment Refund")|(PP["Type"]=="Hold on Balance for Dispute Investigation"),PP["To Email Address"]+"|"+PP["Gross"].astype(str),PP["From Email Address"]+"|"+PP["Gross"].astype(str))

In [28]:
PP["Lookup"]=PP["Lookup"].mask(PP["Lookup"].str[-1]=="0",PP["Lookup"].str[:-1])

PP["Lookup"]=PP["Lookup"].mask(PP["Lookup"].str[-1]==".",PP["Lookup"].str[:-1])

In [29]:
PP["Lookup"]=PP["Lookup"].apply(lambda x:x.replace(',',''))
PP["Lookup"]

2               kodacarr@me.com|-96.99
3           porkchop_4@yahoo.com|140.0
5      nancygallimore@icloud.com|215.0
7          glick2@roadrunner.com|352.0
9         nrjbulldog@comcast.net|195.0
                    ...
240       epolston1@verizon.net|-250.0
241          ddhartt@gmail.com|-138.75
242           ddhartt@gmail.com|-148.0
249        pmsoldano@gmail.com|-370.99
253      syarmstrong@comcast.net|268.0
Name: Lookup, Length: 97, dtype: object

In [30]:
date_format = "%m/%d/%Y"
PP["Date"]=PP["Date"].apply(lambda x : datetime.strptime(x, date_format))

In [31]:
PP["Lookup_1"]=(PP["Date"].apply(lambda x: (x-datetime.strptime("01/01/1900", date_format)).days+2)).astype(str)+"|"+PP["Gross"].astype(str)

In [32]:
PP["Lookup_1"].head()

2    44531|-96.99
3    44531|140.00
5    44531|215.00
7    44531|352.00
9    44531|195.00
Name: Lookup_1, dtype: object

In [33]:
PP=PP[["Date","Lookup","Lookup_1","Net"]]

In [34]:
PP

          Date                           Lookup       Lookup_1      Net
2   2021-12-01           kodacarr@me.com|-96.99   44531|-96.99   -94.47
3   2021-12-01       porkchop_4@yahoo.com|140.0   44531|140.00   136.06
5   2021-12-01  nancygallimore@icloud.com|215.0   44531|215.00   209.11
7   2021-12-01      glick2@roadrunner.com|352.0   44531|352.00   342.55
9   2021-12-01     nrjbulldog@comcast.net|195.0   44531|195.00   189.63
..         ...                              ...            ...      ...
240 2021-12-08     epolston1@verizon.net|-250.0  44538|-250.00  -243.50
241 2021-12-08        ddhartt@gmail.com|-138.75  44538|-138.75  -135.14
242 2021-12-08         ddhartt@gmail.com|-148.0  44538|-148.00  -144.15
249 2021-12-09      pmsoldano@gmail.com|-370.99  44539|-370.99  -361.34
253 2021-12-09    syarmstrong@comcast.net|268.0   44539|268.00   260.73

[97 rows x 4 columns]

In [35]:
PP["Lookup_1"]=PP["Lookup_1"].mask(PP["Lookup_1"].str[-1]=="0",PP["Lookup_1"].str[:-1])
PP["Lookup_1"]=PP["Lookup_1"].mask(PP["Lookup_1"].str[-1]=="0",PP["Lookup_1"].str[:-1])
PP["Lookup_1"]=PP["Lookup_1"].mask(PP["Lookup_1"].str[-1]==".",PP["Lookup_1"].str[:-1])
PP["Lookup_1"]=PP["Lookup_1"].apply(lambda x:x.replace(',',''))
PP["Lookup_1"]

2       44531|-96.99
3          44531|140
5          44531|215
7          44531|352
9          44531|195
           ...
240       44538|-250
241    44538|-138.75
242       44538|-148
249    44539|-370.99
253        44539|268
Name: Lookup_1, Length: 97, dtype: object

## Amazon Pay

In [36]:
Data_AP=Data[Data["payment_method"]=="Amazon payments"]

Data_AP=Data_AP[["day","customer_name","order_name","customer_email","total_payments"]]

In [37]:
Data_AP["day"]

81     2021-12-01
318    2021-12-01
347    2021-12-01
361    2021-12-01
145    2021-12-02
362    2021-12-02
339    2021-12-02
184    2021-12-03
394    2021-12-03
217    2021-12-03
319    2021-12-06
325    2021-12-06
273    2021-12-06
197    2021-12-06
248    2021-12-07
202    2021-12-07
190    2021-12-08
73     2021-12-08
267    2021-12-08
Name: day, dtype: object

In [38]:
date_format = "%Y-%m-%d"
Data_AP["day"]=Data_AP["day"].apply(lambda x : datetime.strptime(x, date_format))

In [39]:
Data_AP["Lookup_1"]=(Data_AP["day"].apply(lambda x: (x-datetime.strptime("1900-01-01", date_format)).days+2)).astype(str)+"|"+Data_AP["total_payments"].astype(str)

In [40]:
Data_AP["Lookup_1"]

81       44531|332.0
318    44531|-151.55
347     44531|-215.0
361     44531|-265.0
145     44532|235.98
362     44532|-265.0
339     44532|-200.0
184      44533|185.0
394     44533|-612.0
217     44533|151.55
319     44536|-156.0
325     44536|-175.0
273       44536|60.0
197      44536|175.0
248     44537|107.99
202      44537|168.0
190     44538|181.98
73      44538|350.99
267      44538|73.99
Name: Lookup_1, dtype: object

In [41]:
Data_AP["Lookup_1"]=Data_AP["Lookup_1"].mask(Data_AP["Lookup_1"].str[-1]=="0",Data_AP["Lookup_1"].str[:-1])
Data_AP["Lookup_1"]=Data_AP["Lookup_1"].mask(Data_AP["Lookup_1"].str[-1]==".",Data_AP["Lookup_1"].str[:-1])
Data_AP["Lookup_1"]=Data_AP["Lookup_1"].apply(lambda x:x.replace(',',''))
Data_AP["Lookup_1"]

81         44531|332
318    44531|-151.55
347       44531|-215
361       44531|-265
145     44532|235.98
362       44532|-265
339       44532|-200
184        44533|185
394       44533|-612
217     44533|151.55
319       44536|-156
325       44536|-175
273         44536|60
197        44536|175
248     44537|107.99
202        44537|168
190     44538|181.98
73      44538|350.99
267      44538|73.99
Name: Lookup_1, dtype: object

In [42]:
Data_AP=Data_AP[["day","Lookup_1","customer_name","customer_email","order_name","total_payments"]]

In [43]:
#Data_AP=Data_AP[["day","Lookup_1","customer_name","customer_email","order_name","total_payments"]]
#Data_AP.to_csv("C://Users//shawnhe//Desktop//AP_Left.csv",index=False)

AP=AP[["TransactionPostedDate","SettlementId","TransactionType","TransactionAmount","NetTransactionAmount"]]

AP["TransactionPostedDate"]=AP["TransactionPostedDate"].apply(lambda x : x[:10])

AP["TransactionPostedDate"]

AP_1=AP[AP["TransactionType"]!="Transfer"]
AP_1=AP_1[AP_1["TransactionType"]!="Debt"]

AP_2 = AP[AP["TransactionType"]!="Capture"]
AP_2 = AP_2[AP_2["TransactionType"]!="Refund"]
AP_2 = AP_2[AP_2["TransactionType"]!="Authorization"]

AP_CAPTURE=AP_1[["SettlementId","NetTransactionAmount"]]

AP_CAPTURE["NetTransactionAmount"]=AP_CAPTURE["NetTransactionAmount"].apply(lambda x : x.replace(",",""))
AP_CAPTURE["NetTransactionAmount"]=AP_CAPTURE["NetTransactionAmount"].apply(lambda x : float(x))

AP_CAPTURE=AP_CAPTURE.groupby("SettlementId").sum()

AP_2["SettlementId"]=np.where(AP_CAPUTURE["NetTransactionAmoun"]==AP_2["NetTransactionAmount"],AP_CAPTURE["SettlementId"])

AP_2=AP_2[["SettlementId","TransactionType","TransactionPostedDate","NetTransactionAmount"]]

Data_AP.to_csv("C://Users//shawnhe//Desktop//AP_Left.csv",index=False)
AP_2.to_csv("C://Users//shawnhe//Desktop//AP_Right.csv",index=False)

## Klarna

In [44]:
kl=kl.apply(lambda x : x.str.replace('"',''))

In [45]:
kl.head()

Empty DataFrame
Columns: [type;detailed_type;sale_date;capture_date;order_id;short_order_id;capture_id;merchant_reference1;merchant_reference2;merchant_capture_reference;merchant_refund_reference;amount;posting_currency;refund_id;purchase_country;shipping_address_country;tax_rate;tax_amount;initial_payment_method_type;initial_payment_method_number_of_installments;initial_payment_method_monthly_downpayments;merchant_id;settlement_currency;payment_reference;payout_date;klarna_comment;consumer_tax_rate_1;consumer_tax_amount_1;consumer_tax_rate_2;consumer_tax_amount_2;consumer_tax_rate_3;consumer_tax_amount_3;consumer_tax_rate_4;consumer_tax_amount_4]
Index: []

In [46]:
kl["type;detailed_type;sale_date;capture_date;order_id;short_order_id;capture_id;merchant_reference1;merchant_reference2;merchant_capture_reference;merchant_refund_reference;amount;posting_currency;refund_id;purchase_country;shipping_address_country;tax_rate;tax_amount;initial_payment_method_type;initial_payment_method_number_of_installments;initial_payment_method_monthly_downpayments;merchant_id;settlement_currency;payment_reference;payout_date;klarna_comment;consumer_tax_rate_1;consumer_tax_amount_1;consumer_tax_rate_2;consumer_tax_amount_2;consumer_tax_rate_3;consumer_tax_amount_3;consumer_tax_rate_4;consumer_tax_amount_4"]

Series([], Name: type;detailed_type;sale_date;capture_date;order_id;short_order_id;capture_id;merchant_reference1;merchant_reference2;merchant_capture_reference;merchant_refund_reference;amount;posting_currency;refund_id;purchase_country;shipping_address_country;tax_rate;tax_amount;initial_payment_method_type;initial_payment_method_number_of_installments;initial_payment_method_monthly_downpayments;merchant_id;settlement_currency;payment_reference;payout_date;klarna_comment;consumer_tax_rate_1;consumer_tax_amount_1;consumer_tax_rate_2;consumer_tax_amount_2;consumer_tax_rate_3;consumer_tax_amount_3;consumer_tax_rate_4;consumer_tax_amount_4, dtype: object)

In [47]:
try:
    kl[['type', 'detailed_type', 'sale_date', 'capture_date', 'order_id', 'short_order_id', 'capture_id', 'merchant_reference1', 'merchant_reference2', 'merchant_capture_reference', 'merchant_refund_reference', 'amount', 'posting_currency', 'refund_id', 'purchase_country', 'shipping_address_country', 'tax_rate', 'tax_amount', 'initial_payment_method_type', 'initial_payment_method_number_of_installments', 'initial_payment_method_monthly_downpayments', 'merchant_id', 'settlement_currency', 'payment_reference', 'payout_date', 'klarna_comment', 'consumer_tax_rate_1', 'consumer_tax_amount_1', 'consumer_tax_rate_2', 'consumer_tax_amount_2', 'consumer_tax_rate_3', 'consumer_tax_amount_3', 'consumer_tax_rate_4', 'consumer_tax_amount_4']]=kl[['type', 'detailed_type', 'sale_date', 'capture_date', 'order_id', 'short_order_id', 'capture_id', 'merchant_reference1', 'merchant_reference2', 'merchant_capture_reference', 'merchant_refund_reference', 'amount', 'posting_currency', 'refund_id', 'purchase_country', 'shipping_address_country', 'tax_rate', 'tax_amount', 'initial_payment_method_type', 'initial_payment_method_number_of_installments', 'initial_payment_method_monthly_downpayments', 'merchant_id', 'settlement_currency', 'payment_reference', 'payout_date', 'klarna_comment', 'consumer_tax_rate_1', 'consumer_tax_amount_1', 'consumer_tax_rate_2', 'consumer_tax_amount_2', 'consumer_tax_rate_3', 'consumer_tax_amount_3', 'consumer_tax_rate_4', 'consumer_tax_amount_4']]=kl["type;detailed_type;sale_date;capture_date;order_id;short_order_id;capture_id;merchant_reference1;merchant_reference2;merchant_capture_reference;merchant_refund_reference;amount;posting_currency;refund_id;purchase_country;shipping_address_country;tax_rate;tax_amount;initial_payment_method_type;initial_payment_method_number_of_installments;initial_payment_method_monthly_downpayments;merchant_id;settlement_currency;payment_reference;payout_date;klarna_comment;consumer_tax_rate_1;consumer_tax_amount_1;consumer_tax_rate_2;consumer_tax_amount_2;consumer_tax_rate_3;consumer_tax_amount_3;consumer_tax_rate_4;consumer_tax_amount_4"].str.split(';',expand=True)
except:
    pass

In [48]:
kl=kl.iloc[:,1:]

In [49]:
kl

Empty DataFrame
Columns: []
Index: []

In [50]:
kl[["Date","Useless"]]=kl["capture_date"].str.split("T",n=1,expand=True)
kl[["payout","Useless_1"]]=kl["payout_date"].str.split("T",n=1,expand=True)

KeyError: 'capture_date'

In [ ]:
kl=kl[["Date","type","merchant_reference1","amount","payout"]]

In [ ]:
kl.head()

In [ ]:
kl_sales=kl[kl["type"]!="RETURN"]
KL_return=kl[kl["type"]=="RETURN"]

In [ ]:
import numpy as np

In [ ]:
kl_sales['amount'].dtype

In [ ]:
kl_sales["amount_net"]=np.where(kl_sales["type"]=="FEE",kl_sales["amount"].astype('float64')*(-1),kl_sales["amount"])

In [ ]:
kl_sales_sum=kl_sales[["merchant_reference1","amount_net"]]

In [ ]:
kl_sales_sum["amount_net"]=kl_sales_sum["amount_net"].astype('float64')

In [ ]:
kl_sales_sum=kl_sales_sum.groupby("merchant_reference1").sum()

In [ ]:
kl_sales_sum

In [ ]:
KL_return["amount_net"]=KL_return["amount"].astype("float64")

In [ ]:
KL_return["amount"]=KL_return["amount"].astype("float64")*(-1)
KL_return["amount_net"]=KL_return["amount_net"].astype("float64")*(-1)
KL_return=KL_return.drop("type",axis=1)

In [ ]:
KL_return=KL_return[["Date","merchant_reference1","amount","amount_net","payout"]]
KL_return

In [ ]:
kl_sales_join=kl[kl["type"]=="SALE"]

In [ ]:
kl_sales_join

In [ ]:
kl_result=pd.merge(kl_sales_join,kl_sales_sum, how="left",on="merchant_reference1")

In [ ]:
kl_result=kl_result[["Date","merchant_reference1","amount","amount_net","payout"]]

In [ ]:
kl_result

In [ ]:
result=pd.concat([kl_result,KL_return])

In [ ]:
result

In [ ]:
result.sort_values("Date",ascending=True)

In [ ]:
result=result.sort_values("Date",ascending=True)

In [51]:
Data_BT.to_csv("C://Users//shawnhe//Desktop//MW AND MSK//BT_Left.csv",index=False)
BT.to_csv("C://Users//shawnhe//Desktop//MW AND MSK//BT_Right.csv",index=False)
PP.to_csv("C://Users//shawnhe//Desktop//MW AND MSK//PP_Right.csv",index=False)
Data_PP.to_csv("C://Users//shawnhe//Desktop//MW AND MSK//PP_Left.csv",index=False)
Data_AP.to_csv("C://Users//shawnhe//Desktop//MW AND MSK//AP_Left.csv",index=False)
#AP_2.to_csv("C://Users//shawnhe//Desktop//MW AND MSK//AP_Right.csv",index=False) I do not find the method
result.to_csv("C://Users//shawnhe//Desktop//MW AND MSK//kl_result.csv",index=False)

NameError: name 'result' is not defined